<!DOCTYPE html>
<html>
	<head>
		<title>TweetOut - Sushant</title>
		<link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
		<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
	</head>
	<body>
		<main>
			{% block content %}
			{% endblock %}
		</main>
		<footer>
			<span>Made with <span class="heart" style="color: #e25555">❤</span> by <a href="https://twitter.com/sushant_kumar" target="_blank">Sushant</a></span>
			<br>
			<div style="margin-top: 20px; color: #777; font-size:0.8em;">
				These are AI generated tweets using OpenAI's GPT-3 model, which is still in beta. Please exercise reasonable discretion before sharing outputs in social media.
			</div>
		</footer>
	</body>
</html>
